.a2{
width: 60%; /*ширина*/
background-color: purple; /*задний цвет*/
}
body{
	/*background-image: url(img/img2.jpg); задняя картинка*/
}
/*main.main>.img-box>img.image [src='img/img.jpg'][alt='Gallery image']*10 мы создали 10 строк с картинками в контейнере Див и контейнере Майн*/
.img-box{
	column-count: 4; /*создаем 4 столбца из наших картинок*/
	column-gap: 0; /*убирем отступ*/
}
.image{
	max-width: 100%;
	display: block;
	margin: 5px;
	/*background-position: center;/*совмещает изображение с центром контейнера*/

-webkid-background-size= cover;
transition: 0.4s ease, transform 0.5s ease-in,box-shadow 0.3s ease-out; /*теперь прозрачность появляется не сразу*/
}

background-size= cover; масштабирует изображение в соответсвии с его размерами
.image + .image {
	margin: 3px;
}
.size{
	font-size: 60px;/*размер шрифта*/
	text-align: center; /*поставили надпись по центру*/
	width: 75%;
	padding: 30px;
    font-family: 'Ranga', cursive;
}
.image:hover{
	opacity: 1.0; /*прозрачность картинки*/
	transform: scale(1.2);/*картинка становится больше. число означает проценты*/ /*rotate-это поворот картинки*/
	z-index:10;
	box-shadow: 0 0 200px 30px rgba(0,0,0,0.4);
}
.link{
	padding: 50px 0;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.text{
	font-size:20px;
	line-height: 1;
}
.first-image{
	width: 70%;
}
.first-text{
	text-transform: uppercase;
	font-size: 40px;
}
body{
	background-color: #97bc95;
}
.textp2{
	text-transform: uppercase;
	font-size: 40px;
}
.title{
	text-transform: uppercase;
	font-size: 40px;
}